<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section id="experience" th:fragment="experiences">
  <h2>My Experiences</h2>
  <div class="education-timeline">
    <div class="timeline-item" th:each="experience : ${experiences}">
      <h3 th:text="${experience.jobTitle} + ' - ' + ${experience.companyName}"></h3>
        <p class="timeline-date" th:text="${experience.startDate} + ' - ' + ${experience.endDate}"></p>
        <p th:text="${experience.description}"></p>
    </div>
  </div>
</section>

</body>
</html>